@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@font-face {font-family: "Arciform";
  src: url("http://db.onlinewebfonts.com/t/401746ea18398fb74710226c4250341e.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/401746ea18398fb74710226c4250341e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("http://db.onlinewebfonts.com/t/401746ea18398fb74710226c4250341e.woff2") format("woff2"), /* chrome firefox */
  url("http://db.onlinewebfonts.com/t/401746ea18398fb74710226c4250341e.woff") format("woff"), /* chrome firefox */
  url("http://db.onlinewebfonts.com/t/401746ea18398fb74710226c4250341e.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("http://db.onlinewebfonts.com/t/401746ea18398fb74710226c4250341e.svg#Arciform") format("svg"); /* iOS 4.1- */
}
.arciform {
  font-family: 'Arciform';
  text-align: center;
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.navbarcoloractive{
  --tw-bg-opacity: 0.65;
  background-color: rgba(24, 32.5, 47, var(--tw-bg-opacity));
  transition: all;
  backdrop-filter: blur(10px);
}

.navbarpaddingactive{
    padding-top: 1rem !important/* 24px */;
    padding-bottom: 1rem !important/* 24px */;
    transition: all;
}

#contact, .bggradient {
  background: linear-gradient(-45deg, #1e3a8a,#111827);
  background-size: 400% 400%;
  animation: change 5s ease-in-out infinite;
}

@keyframes change {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(31, 41, 55); 
  border-radius: 10px;
}

input, textarea {
  border-width: 0px !important;
}

.image-container {
  height: 20rem;
}
/*md:*/
@media (min-width: 640px) {
  .image-container {
  height: 24rem;
}
}
@media (min-width: 768px) {
  .image-container {
  height: 30rem;
}
}


.div-margin-top {
  margin-top: 20rem;
}
/*md:*/
@media (min-width: 640px) {
  .div-margin-top {
  margin-top: 24rem;
}
}
@media (min-width: 768px) {
  .div-margin-top {
  margin-top: 30rem;
}
}


.max-w-8xl {
  max-width: 90rem;
}


*::-webkit-scrollbar {
  background-color: rgb(11, 18, 32);
  width: 6px;
  border-radius: 8rem;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(44, 52, 70);
  border-radius: 8rem;
}
